        @{ Layout = "_NestedLayout.cshtml"; }
        <div id="O::9">Index Body: @DateTime.Now.ToLongTimeString()</div>

@section Section2
{
    <div id="O::6">Section2:@DateTime.Now.ToLongTimeString()</div>
}

@section Section3
{
    <div id="O::8">Section3:@DateTime.Now.ToLongTimeString()</div>
}
