@model DateTime
<p style="background-color: silver;">
    Donut rendered at : @Model (expires every 60 seconds)
    <button id="btnExpireDonut">Expire donut one cache</button>
</p>

<div>
    @Html.Action("NestedDonutOne", true)
</div>
