@model IEnumerable<string>
    @if (Model == null)
    {
        <p>Error while reading remote web service response</p>
    }
    else
    {
        <h1>Everybody loves bacon</h1>
        foreach (var ipsum in Model)
        {
            <p>@ipsum</p>
        }
    }
